#root {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.collapsable-title::before {
    content: "▼";
    display: inline-block;
    width: 1.5em;
    text-align: center;
    cursor: pointer;
}
.collapsable-title.open::before {
    transform: rotate(-90deg);
}

.navbar + .body-content {
    margin-top: 60px;
}

.add-score {
    position: absolute;
    bottom: 0;
    width: 100%;
}